src/test/resources/doc-aggregators-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd
      http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
      http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">


    <flow name="main">
        <aggregators:size-based-aggregator name="personsNameAggregator" maxSize="100">
            <aggregators:content>#[vars.personName]</aggregators:content>
            <aggregators:aggregation-complete>
                <flow-ref name="whatToDoWithAllTheseNames"/>
            </aggregators:aggregation-complete>
        </aggregators:size-based-aggregator>
    </flow>

    <flow name="main2">
        <aggregators:size-based-aggregator name="personsNameAggregator2" maxSize="100">
            <aggregators:content>#[vars.personName]</aggregators:content>
            <aggregators:incremental-aggregation>
                <choice>
                    <when expression="#[(sizeOf(payload) mod 10) == 0]">
                        <flow-ref name="partialAction"/>
                    </when>
                </choice>
            </aggregators:incremental-aggregation>
            <aggregators:aggregation-complete>
                <flow-ref name="whatToDoWithAllTheseNames"/>
            </aggregators:aggregation-complete>
        </aggregators:size-based-aggregator>
    </flow>

    <flow name="main3">
        <logger message="NEW VALUE" level="ERROR"/>
        <aggregators:size-based-aggregator name="personsNameAggregator3"
                                           maxSize="100"
                                           timeout="10"
                                           timeoutUnit="SECONDS">
            <aggregators:content>#[vars.personName]</aggregators:content>
            <aggregators:incremental-aggregation>
                <choice>
                    <when expression="#[(sizeOf(payload) mod 10) == 0]">
                        <flow-ref name="partialAction"/>
                    </when>
                </choice>
            </aggregators:incremental-aggregation>
            <aggregators:aggregation-complete>
                <flow-ref name="whatToDoWithAllTheseNames"/>
            </aggregators:aggregation-complete>
        </aggregators:size-based-aggregator>
    </flow>

    <flow name="main4">
        <aggregators:group-based-aggregator name="personsNameByNacAggregator"
                                            groupId="#[vars.personNac]"
                                            groupSize="100"
                                            timeout="10"
                                            timeoutUnit="SECONDS"
                                            slack>
            <aggregators:content>#[vars.personName]</aggregators:content>
            <aggregators:incremental-aggregation>
                <choice>
                    <when expression="#[(sizeOf(payload) mod 10) == 0]">
                        <flow-ref name="partialAction"/>
                    </when>
                </choice>
            </aggregators:incremental-aggregation>
            <aggregators:aggregation-complete>
                <flow-ref name="whatToDoWithAllTheseNamesFromSomeCountry"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
    </flow>

    <flow name="groupListener">
        <aggregators:aggregator-listener aggregatorName="personsNameByNacAggregator" includeTimedOutGroups="true"/>
        <flow-ref name="whatToDoWithAllTheseNamesFromSomeCountry"/>
    </flow>

    <flow name="timeoutListener">
        <aggregators:aggregator-listener aggregatorName="personsNameAggregator3" includeTimedOutGroups="true"/>
        <flow-ref name="whatToDoWithAllTheseNames"/>
    </flow>

    <flow name="whatToDoWithAllTheseNamesFromSomeCountry">
        <logger message="#[payload joinBy '-']" level="ERROR"/>
    </flow>

    <flow name="whatToDoWithAllTheseNames">
        <logger message="#['PROCESSING $(sizeOf(payload)) NAMES']" level="ERROR"/>
    </flow>

    <flow name="partialAction">
        <logger message="#[sizeOf(payload)]" level="ERROR"/>
    </flow>




</mule>
