src/test/resources/group-based-aggregators-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd
      http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="aggregationCompleteRoute">
        <aggregators:group-based-aggregator name="1" content="#[payload]" groupId="#[vars.gid]" groupSize="2">
            <aggregators:aggregation-complete>
                <set-variable value="lala" variableName="lala"/>
                <flow-ref name="onComplete"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
    </flow>

    <flow name="aggregationCompleteListener">
        <aggregators:aggregator-listener aggregatorName="1"/>
        <flow-ref name="onListener"/>
    </flow>

    <flow name="incrementalAggregationRoute">
        <aggregators:group-based-aggregator name="2" content="#[payload]" groupId="#[vars.gid]" groupSize="3">
            <aggregators:incremental-aggregation>
                <flow-ref name="onIncremental"/>
            </aggregators:incremental-aggregation>
            <aggregators:aggregation-complete>
                <test:processor/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
    </flow>

    <flow name="shortEvictionTime">
        <aggregators:group-based-aggregator name="3" content="#[payload]" groupId="#[vars.gid]" groupSize="1" evictionTime="500" evictionTimeUnit="MILLISECONDS">
            <aggregators:aggregation-complete>
                <flow-ref name="onComplete"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
    </flow>

    <flow name="groupCompleteExceptionThrowingFlow">
        <aggregators:group-based-aggregator name="4" content="#[payload]" groupId="#[vars.gid]" groupSize="1">
            <aggregators:aggregation-complete>
                <flow-ref name="onComplete"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
        <error-handler>
            <test:on-error-check-log>
                <test:check-summary>
                    <test:summary-info key="Error type" value="AGGREGATORS:GROUP_COMPLETED"/>
                </test:check-summary>
            </test:on-error-check-log>
        </error-handler>
    </flow>

    <flow name="noGroupIdExceptionThrowingFlow">
        <aggregators:group-based-aggregator name="5" content="#[payload]" groupId="#[vars.notExistentVariable]">
            <aggregators:aggregation-complete>
                <flow-ref name="onComplete"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
        <error-handler>
            <test:on-error-check-log>
                <test:check-summary>
                    <test:summary-info key="Error type" value="AGGREGATORS:NO_GROUP_ID"/>
                </test:check-summary>
            </test:on-error-check-log>
        </error-handler>
    </flow>

    <flow name="noGroupSizeExceptionThrowingFlow">
        <aggregators:group-based-aggregator name="6" content="#[payload]" groupSize="#[vars.notExistentVariable]">
            <aggregators:aggregation-complete>
                <flow-ref name="onComplete"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
        <error-handler>
            <test:on-error-check-log>
                <test:check-summary>
                    <test:summary-info key="Error type" value="AGGREGATORS:NO_GROUP_SIZE"/>
                </test:check-summary>
            </test:on-error-check-log>
        </error-handler>
    </flow>

    <flow name="groupTimedOutExceptionThrowingFlow">
        <aggregators:group-based-aggregator name="7" content="#[payload]" groupSize="100" groupId="#[vars.gid]" timeout="500" timeoutUnit="MILLISECONDS">
            <aggregators:aggregation-complete>
                <flow-ref name="onComplete"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
        <error-handler>
            <test:on-error-check-log>
                <test:check-summary>
                    <test:summary-info key="Error type" value="AGGREGATORS:GROUP_TIMED_OUT"/>
                </test:check-summary>
            </test:on-error-check-log>
        </error-handler>
    </flow>

    <flow name="shortTimeoutAggregator">
        <aggregators:group-based-aggregator name="8" content="#[payload]" groupSize="100" timeout="500" timeoutUnit="MILLISECONDS">
            <aggregators:aggregation-complete>
                <flow-ref name="onComplete"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
    </flow>

    <flow name="timeoutListener">
        <aggregators:aggregator-listener aggregatorName="8" includeTimedOutGroups="true"/>
        <flow-ref name="onListener"/>
    </flow>

    <flow name="shortTimeoutAggregator2">
        <aggregators:group-based-aggregator name="9" content="#[payload]" groupSize="100" timeout="500" timeoutUnit="MILLISECONDS">
            <aggregators:aggregation-complete>
                <flow-ref name="onComplete"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
    </flow>

    <flow name="timeoutListener2">
        <aggregators:aggregator-listener aggregatorName="9" includeTimedOutGroups="false"/>
        <flow-ref name="onListener"/>
    </flow>

    <flow name="shortTimeoutAndEvictionTime">
        <aggregators:group-based-aggregator name="10" content="#[payload]" groupSize="1" groupId="#[vars.gid]" timeout="1000" timeoutUnit="MILLISECONDS" evictionTime="500" evictionTimeUnit="MILLISECONDS">
            <aggregators:aggregation-complete>
                <flow-ref name="onComplete"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
    </flow>

    <flow name="attributesAreSet">
        <aggregators:group-based-aggregator name="11" groupId="uniqueId" content="#[payload]" groupSize="2">
            <aggregators:aggregation-complete>
                <test:assert expression="#[attributes.isGroupComplete == true]"/>
                <test:assert expression="#[attributes.groupId == 'uniqueId']"/>
                <test:assert expression="#[attributes.firstValueArrivalTime != attributes.lastValueArrivalTime]"/>
                <test:assert expression="#[attributes.firstValueArrivalTime != null]"/>
                <test:assert expression="#[attributes.lastValueArrivalTime != null]"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
    </flow>

    <flow name="propagateVariables">
        <aggregators:group-based-aggregator name="12" content="#[payload]" groupId="someId" groupSize="2">
            <aggregators:incremental-aggregation>
                <set-variable variableName="#[vars.variableKey]" value="#[vars.variableValue]"/>
            </aggregators:incremental-aggregation>
            <aggregators:aggregation-complete>
                <set-variable variableName="#[vars.variableKey]" value="#[vars.variableValue]"/>
            </aggregators:aggregation-complete>
        </aggregators:group-based-aggregator>
    </flow>

    <flow name="onComplete">
        <set-variable variableName="executionRoute" value="aggregationComplete"/>
        <test:processor class="org.mule.functional.util.FlowExecutionLogger"/>
    </flow>

    <flow name="onIncremental">
        <set-variable variableName="executionRoute" value="incrementalAggregation"/>
        <test:processor class="org.mule.functional.util.FlowExecutionLogger"/>
    </flow>

    <flow name="onListener">
        <set-variable variableName="executionRoute" value="listenerCalled"/>
        <test:processor class="org.mule.functional.util.FlowExecutionLogger"/>
    </flow>

</mule>