src/test/resources/time-based-aggregators-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd
      http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <flow name="incrementalAggregationRoute">
        <aggregators:time-based-aggregator name="1"  period="1000" periodUnit="SECONDS">
            <aggregators:content>
                #[payload]
            </aggregators:content>
            <aggregators:incremental-aggregation>
                <flow-ref name="onIncremental"/>
            </aggregators:incremental-aggregation>
        </aggregators:time-based-aggregator>
    </flow>

    <flow name="aggregatorWithSmallPeriod">
        <aggregators:time-based-aggregator name="2"  period="500" periodUnit="MILLISECONDS">
            <aggregators:content>
                #[payload]
            </aggregators:content>
        </aggregators:time-based-aggregator>
    </flow>

    <flow name="aggregatorWithSmallPeriodListener">
        <aggregators:aggregator-listener aggregatorName="2" includeTimedOutGroups="false"/>
        <flow-ref name="onListener"/>
    </flow>


    <flow name="aggregatorWithMaxSize">
        <aggregators:time-based-aggregator name="3"  period="1000" maxSize="3">
            <aggregators:content>
                #[payload]
            </aggregators:content>
        </aggregators:time-based-aggregator>
    </flow>

    <flow name="aggregatorWithMaxSizeListener">
        <aggregators:aggregator-listener aggregatorName="3" includeTimedOutGroups="false"/>
        <flow-ref name="onListener"/>
    </flow>


    <flow name="beforeAndAfterAggregator">
        <aggregators:time-based-aggregator name="4"  period="1000" maxSize="3">
            <aggregators:content>
                #[payload]
            </aggregators:content>
        </aggregators:time-based-aggregator>
    </flow>

    <flow name="attributesAreSet">
        <aggregators:time-based-aggregator name="5"  period="10">
            <aggregators:content>
                #[payload]
            </aggregators:content>
            <aggregators:incremental-aggregation>
                <test:assert expression="#[attributes.isGroupComplete == false]"/>
                <test:assert expression="#[attributes.aggregationId != null]"/>
                <choice>
                    <when expression="#[sizeOf(payload) == 1]">
                        <test:assert expression="#[attributes.firstItemArrivalTime == attributes.lastItemArrivalTime]"/>
                    </when>
                    <otherwise>
                        <test:assert expression="#[attributes.firstItemArrivalTime != attributes.lastItemArrivalTime]"/>
                    </otherwise>
                </choice>
                <test:assert expression="#[attributes.firstItemArrivalTime != null]"/>
                <test:assert expression="#[attributes.lastItemArrivalTime != null]"/>
            </aggregators:incremental-aggregation>
        </aggregators:time-based-aggregator>
    </flow>

    <flow name="propagateVariables">
        <aggregators:time-based-aggregator name="6"  period="1000" periodUnit="SECONDS">
            <aggregators:content>
                #[payload]
            </aggregators:content>
            <aggregators:incremental-aggregation>
                <set-variable variableName="#[vars.variableKey]" value="#[vars.variableValue]"/>
            </aggregators:incremental-aggregation>
        </aggregators:time-based-aggregator>
    </flow>

    <flow name="idCheck">
        <aggregators:time-based-aggregator name="7"  period="1000" maxSize="3">
            <aggregators:content>
                #[payload]
            </aggregators:content>
            <aggregators:incremental-aggregation>
                <choice>
                    <when expression="#[vars.id != null]">
                        <test:assert expression="#[vars.id == attributes.aggregationId]"/>
                    </when>
                    <otherwise>
                        <set-variable variableName="id" value="#[attributes.aggregationId]"/>
                    </otherwise>
                </choice>
            </aggregators:incremental-aggregation>
        </aggregators:time-based-aggregator>
    </flow>


    <flow name="idCheckListener">
        <aggregators:aggregator-listener aggregatorName="7" includeTimedOutGroups="false"/>
        <set-payload value="#[correlationId]"/>
        <flow-ref name="onListener"/>
    </flow>

    <flow name="idChangeAfterComplete">
        <aggregators:time-based-aggregator name="8" period="1000"  maxSize="2">
            <aggregators:content>
                #[payload]
            </aggregators:content>
            <aggregators:incremental-aggregation>
                <choice>
                    <when expression="#[vars.id != null]">
                        <test:assert expression="#[vars.id != attributes.aggregationId]"/>
                    </when>
                    <otherwise>
                        <set-variable variableName="id" value="#[attributes.aggregationId]"/>
                    </otherwise>
                </choice>
            </aggregators:incremental-aggregation>
        </aggregators:time-based-aggregator>
    </flow>

    <flow name="sortedItems">
        <aggregators:time-based-aggregator name="9" period="1000" maxSize="3">
            <aggregators:content>
                #[payload]
            </aggregators:content>
        </aggregators:time-based-aggregator>
    </flow>

    <flow name="sortedItemsListener">
        <aggregators:aggregator-listener aggregatorName="9" includeTimedOutGroups="false"/>
        <flow-ref name="onComplete"/>
    </flow>

    <flow name="sortedMixedItems">
        <aggregators:time-based-aggregator name="10" period="1000" maxSize="5">
            <aggregators:content>
                #[payload]
            </aggregators:content>
        </aggregators:time-based-aggregator>
    </flow>

    <flow name="sortedMixedItemsListener">
        <aggregators:aggregator-listener aggregatorName="10" includeTimedOutGroups="false"/>
        <flow-ref name="onComplete"/>
    </flow>

    <flow name="onIncremental">
        <set-variable variableName="executionRoute" value="incrementalAggregation"/>
        <test:processor class="org.mule.functional.util.FlowExecutionLogger"/>
    </flow>

    <flow name="onComplete">
        <set-variable variableName="executionRoute" value="aggregationComplete"/>
        <test:processor class="org.mule.functional.util.FlowExecutionLogger"/>
    </flow>

    <flow name="onListener">
        <set-variable variableName="executionRoute" value="listenerCalled"/>
        <test:processor class="org.mule.functional.util.FlowExecutionLogger"/>
    </flow>

</mule>