src/test/munit/aggregators-restart-without-dispose-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd
                          http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                          http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd">

    <configuration-properties file="test.properties"/>

    <munit:config name="aggregators-restart-without-dispose"/>

    <munit:test name="unregisterAggregatorListenerWhenRestarting"
                tags="Aggregators Extension"
                description="Unregister Aggregator Listener When Restarting">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="sbalAggregatorListenerFlow"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-variable variableName="result" value="NOT_COMPLETE"/>
            <aggregators:size-based-aggregator name="sbal"  maxSize="1">
                <aggregators:content>#['testPayload']</aggregators:content>
                <aggregators:aggregation-complete>
                    <set-variable variableName="result" value="COMPLETE"/>
                </aggregators:aggregation-complete>
            </aggregators:size-based-aggregator>

            <munit-tools:assert-that expression="#[vars.result]" is="#[MunitTools::equalTo('COMPLETE')]"/>
            <!-- restart! -->
            <set-payload value="#[java!org::mule::extension::aggregator::munit::AggregatorTestUtils::restartAggregatorWithoutDispose(payload, app.registry['aggregators.aggregatorManager'], app.registry['_muleConfigurationComponentLocator'], 'sbalAggregatorListenerFlow/source')]"/>

        </munit:execution>
    </munit:test>

    <flow name="sbalAggregatorListenerFlow">
        <aggregators:aggregator-listener aggregatorName="sbal"/>

        <logger level="DEBUG" message="sbalAggregatorListenerFlow"/>
    </flow>

</mule>